
.game-container {
  display: flex;
  justify-content: space-around;
}

.board {

  display: grid;
  grid-template-columns: repeat(10,40px);
  grid-template-rows: repeat(10,40px);
}

.cell {
  border-width: 1px;
  border-style: solid;
}